# Node docker image on which this would be run
image: node:latest

variables:
   npm_config_cache: "$CI_PROJECT_DIR/.npm"
   NODE_ENV: 'test'

cache:
   key:
     files:
        - package.json
   paths:
      - .npm
      - node_modules
      - build

services:
   - mongo

stages:
  - install
  - build
  - test
  - staging

# Jobs:

install_dependencies:
  stage: install
  script:
    - npm  ci

Build_api:
  stage: build
  before_script:
     - npm run clean
  script:
    - npm run build

test_api:
  stage: test
  script:
    - npm run test:coveralls
  after_script:
    - npm run coverage

deploy_staging:
  image: node:latest
  only:
    - develop
  stage: staging
  before_script:
    - npm install netlify-cli -g
  script:
    - netlify deploy --site $NETLIFY_SITE_ID --auth $NETLIFY_AUTH_TOKEN --prod
    - echo "Deployed to staging server"
