language: node_js

node_js:
  - "16.20.2"

# 缓存配置，以加快构建速度
cache:
directories:
  - node_modules
  - "$CI_PROJECT_DIR/.npm"
  - build

# 服务配置
services:
  - mongodb

env:
global:
  - MONGO_DB=mongodb://localhost/test
# 安装阶段
install:
  - npm ci

# 构建阶段
before_script:
  - npm run clean
  - npm run build

# 测试阶段
script:
  - npm run test:coveralls

# 成功后执行的脚本
after_success:
  - npm run coverage
